@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-theme {
  color-scheme: light;
}

.dark-theme {
  color-scheme: dark;
}

#app {
  margin: 0 auto;
  text-align: center;
}

.container,
header > * {
  max-width: 1280px;
  padding: 0 16px;
}

.text-case * {
  text-transform: none;
}

.fade-enter-active,
.fade-leave-active {
  transition:
    opacity 0.15s ease,
    transform 0.15s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scale(1.025);
}

@media screen and (min-width: 640px) {
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
    transform: scale(1.15);
  }
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
  transform: scale(1);
}

@media (hover: hover) and (pointer: fine) {
  .scroll-y {
    overflow-y: scroll;
  }

  .scroll-x {
    overflow-x: scroll;
  }

  .scrollable {
    scrollbar-gutter: stable;
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar,
  ::-webkit-scrollbar-track {
    border-radius: 8px !important;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 16px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }
}
